:root {
  --color-primary: #bd632f;
  --color-primary-dark: #904b23;
  --color-white: #f9f9f9;
  --color-black: #232323;
  --color-gray: #878787;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-white);
  font-weight: var(--font-weight-regular);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
